.hero__banner {
    &:not(.tns-item) {
        h2 {
            animation: 1s ease-out 0s slideInFromLeft forwards;
        }

        h3 {
            animation: 1s ease-out 1.0s slideInFromLeft forwards;
        }
        
        h2 {
            > span {
                animation: 1.5s ease-out 0.5s fadeUp forwards;
            }

            &::before {
                animation: 1s ease-out 0s slideInFromLeft forwards;
            }
        }
        
        h3 {
            > span {
                animation: 1.5s ease-out 1.0s fadeUp forwards;
            }

            &::before {
                animation: 1s ease-out 0s slideInFromLeft forwards;
            }
        }
    }

    &.tns-item {
        h2 {
            transition: transform 1s ease-out 0s;
        }

        h3 {
            transition: transform 1s ease-out 1.0s;
        }
        
        h2 {
            > span {
                transition: opacity 1.5s ease-out 0.5s, transform 1.5s ease-out 0.5s;
            }

            &::before {
                transition: transform 1s ease-out 0s;
            }
        }

        h3 {
            > span {
                transition: opacity 1.5s ease-out 1.0s, transform 1.5s ease-out 0.5s;
            }

            &::before {
                transition: transform 1s ease-out 0s;
            }
        }

        &.animated {
            h2, h3 {
                transform: translate(0, 0%);
                z-index: 0;

                > span {
                    opacity: 1;
                    transform: translateY(0%);
                }

                &::before {
                    transform: translate(0, 0%);
                    z-index: 0;
                }
            }
        }
    }
}